@import 'sitewide';

#map path.highcharts-key-us-dc {
    display: none !important;  /* issue 78 adds small-states legend, this hides DC which we don't have */
}

#map {
    height: 400px;
    width: 100%;
    @media screen and (max-width: $screen-sm) {
        max-height: 66vw; /* phone screens, try not to have extra space at top+bottom */
    }
}

#maplegend {
    text-align: right;

    div.slice {
        display: inline-block;
        width: 15px;
        height: 15px;

        text-align: center;
        span {
            color: #fff;
            font-size: 15px;
            position: relative;
            top: -2px;
        }
    }

    h1 { /* title */
        font-size: 13px;
        margin: 0;
    }
    h2 { /* subtitle */
        font-size: 11px;
        margin: 0 0 5px 0;
    }
    h5 { /* No Data */
        display: inline;
        font-size: 12px;
        vertical-align: text-top;
    }

    div.slice.r3 {
        background-color: $biascolor-r3;
    }
    div.slice.r2 {
        background-color: $biascolor-r2;
    }
    div.slice.r1 {
        background-color: $biascolor-r1;
    }
    div.slice.balanced {
        background-color: $biascolor-0;
    }
    div.slice.d1 {
        background-color: $biascolor-d1;
    }
    div.slice.d2 {
        background-color: $biascolor-d2;
    }
    div.slice.d3 {
        background-color: $biascolor-d3;
    }
    div.slice.nodata {
        background-color: white;
        border: 1px solid #95989A;

        margin-left: 15px;
        margin-right: 5px;
    }
}

/* some positioning hacks to try and move the map and legend on large-enough screens, so legend appears to be inside map */
@media screen and (min-width: $screen-sm) {
    #map {
        margin-bottom: -25px;
    }
    #maplegend {
        position: relative;
        top: -22px;
        right: 195px;
    }
}
@media screen and (min-width: $screen-md) {
    #map {
        margin-bottom: -25px;
    }
    #maplegend {
        position: relative;
        top: -22px;
        right: 300px;
    }
}
@media screen and (min-width: $screen-lg) {
    #map {
        margin-bottom: -25px;
    }
    #maplegend {
        position: relative;
        top: -22px;
        right: 320px;
    }
}

#yearpicker-small {
    select {
    }
}

#yearpicker-big-wrapper {
}

#yearpicker-big-playbutton {
    padding-right: 0; /* in a row, but here we want the left and right sides as close as feasible */

    line-height: 67px;

    width: 50px;  /* we want responsive row, but to force width; see also #yearpicker-big width */

    a {
        font-size: 30px;
        text-decoration: none !important;
        color: $dark-purple-color !important;

        i {
        }
    }
}

#yearpicker-big {
    position: relative;
    height: 35px;
    z-index:1;

    padding-left: 0; /* in a row, but here we want the left and right sides as close as feasible */

    width: calc(100% - 50px);  /* we want responsive row, but to force width; see also #yearpicker-big-playbutton width */

    div {  /* structure is a series of rectangular DIVs, each one containing a A for the visible circle */
        cursor: pointer;
        text-align: center;

        display: inline;
        float:left;

        position: relative; /* so we can absolutely position the .currentyearline */

        a {
            display: inline-block;
            vertical-align: middle;
            height: 10px;
            width: 10px;
            background-color: white;
            border: 2px solid $dark-purple-color;
            border-radius: 50%;

            @media screen and (-webkit-min-device-pixel-ratio:0) { /* Chrome and Safari only: the year-beads are off-vertical by 1px */
                margin-top: 1px;
            }
        }

        span.yearlabel {  /* year labels */
            display: block;
            color: $dark-purple-color;
            font-size: 16px;
            margin-top: 2px;
        }
        span.currentyear {
            display: inline-block;
            width: 34px;
            height: 17px;  /* contrived to fit font size */
            background-color: black;
            color: white;

            border-radius: 3px;

            font-size: 13px;
            text-align: center;

            opacity: 0;  /* see div.active subclass below */
        }
        span.currentyearline {
            display: inline-block;
            background-color: black;
            height: 20px;
            width: 2px;

            position: absolute;
            left: 50%;
            top: 10px;
            margin-left: -1px; /* half of width */

            z-index: -1;

            opacity: 0;  /* see div.active subclass below */
        }
    }
    div.decplan {  /* larger dots for decennial plans */
        a {
            width: 20px;
            height: 20px;
        }
    }
    div.decade {
    }
    div.presidential {
    }

    div.active {  /* the currently-selected year */
        a {
            background-color: $dark-purple-color;
        }
        span.currentyear, span.currentyearline {
            opacity: 1; /* show/hide for visibility, breaks spacing since we expect these labels to occupy space even when not visible */
        }
    }
}

#yearpicker-big:after {
    content: "";
    display: block;
    border-top: solid 1px $dark-purple-color;
    width: 100%;
    height: 1px;
    top: 31px;
    position: relative;
    z-index:-1;
}

#stateinfo-popup {
    display: none; /* hidden by default; see selectState() */

    z-index: 1;

    position: absolute;
    top: 200px;
    left: 50%;

    width: 400px;
    max-width: 400px;
    margin-left: -200px;
    @media (max-width: 450px) {
        width: 90%;
        margin-left: 0;
        left: 5%;
    }

    @media (min-width: 1001px) {
        top: 190px;
    }
    @media (max-width: 1000px) {
        top: 225px;
    }
    @media (max-width: 767px) {
        top: 220px;
    }
    @media (max-width: 500px) {
        top: 255px;
    }
    @media (max-width: 350px) {
        top: 300px;
    }

    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #95989A;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.2);
    box-shadow: 0 3px 9px rgba(0,0,0,.2);

    padding: 10px 10px 10px 10px;

    button {
    }
    h4 {
    }
    span {
    }
    a.learnmore {
    }
}

.states-listing {
    div {  /* any of the "columns" */
        white-space: nowrap;
    }

    a {  /* any of the "rows" */
        font-family: 'Roboto';
        font-size: 18px;
        color: #666666;

        text-decoration: none;
        display: block;

        padding: 3px 3px 0px 5px;
    }
    a:hover {
        background-color: #f2f2f2;
    }

    span.swatch {  /* see also updateStateListingSwatches() which dynamically recolors these */
        display:: inline-block;
        height: 14px;
        width: 14px;
    }
}

#yearpicker-small {
    position: relative;  /* readout is overlaid atop a 6/6 split, to maximize hit area on both halves */

    div.nextprev {
        cursor: pointer;
        z-index: 1;
    }
    div.nextprev.disabled {
        opacity: 0;
    }
    div.right {
        padding-right: 0;
    }
    div.left {
        padding-left: 0;
    }
    i {  /* the prev and next buttons */
        font-size: 24px;
        cursor: pointer;
    }
    div.readout {  /* the year/plan readout */
        text-align: center;
        font-weight: bold;
        font-size: 20px;

        position: absolute; top: 0; left: 0;
        width: 100%;
    }
}
