openapi: 3.0.3
info:
  title: PlanScore API
  description: |
    PlanScore's API allows you to upload electoral district plans for scoring and analysis.

    🚧 **This API is under development.** 🚧

    Plans can be uploaded either directly as GeoJSON (simple interaction) or through a
    multi-step process for larger files or alternative formats like shapefiles.

    Authentication is required via bearer token. Contact info@planscore.org to request a token.
  version: 1.0.0
  contact:
    email: info@planscore.org
  license:
    name: Open Source
    url: https://github.com/PlanScore/PlanScore

servers:
  - url: https://api.planscore.org
    description: Production server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token required for authenticated endpoints. Contact info@planscore.org to request a token.

  schemas:
    LibraryMetadata:
      type: object
      description: |
        Additional metadata about the plan, particularly for library/historical plans.
        The following properties are displayed specially in the plan UI, but other properties are also allowed.
      additionalProperties: true
      properties:
        authoritative_link:
          type: string
          format: uri
          description: URL to the authoritative source for this plan (e.g., state legislature website)
        predecessor_link:
          type: string
          format: uri
          description: URL to the preceding enacted plan that this plan replaces or succeeds
        shapefile_file:
          type: string
          format: uri
          description: URL to download the plan as a shapefile
        blockassign_file:
          type: string
          format: uri
          description: URL to download the block assignment file for this plan
        notes:
          type: string
          description: Explanatory notes about the plan, its history, or other relevant context

    GeoJSONPlan:
      type: object
      required:
        - type
        - features
      properties:
        type:
          type: string
          enum: [FeatureCollection]
          description: Must be "FeatureCollection"
        description:
          type: string
          description: Short description of the plan that will appear as the top-most header on the plan page
          example: "Congressional Redistricting Plan 2024"
        model_version:
          type: string
          description: Predictive model version to use. If omitted, the first available version is used.
        library_metadata:
          $ref: '#/components/schemas/LibraryMetadata'
        features:
          type: array
          description: Array of district polygons
          items:
            $ref: '#/components/schemas/DistrictFeature'

    DistrictFeature:
      type: object
      required:
        - type
        - geometry
        - properties
      properties:
        type:
          type: string
          enum: [Feature]
        geometry:
          oneOf:
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
        properties:
          type: object
          properties:
            Incumbent:
              type: string
              enum: [R, D, O]
              default: O
              description: |
                Incumbent party affiliation for more accurate predictions:
                - R: Republican incumbent
                - D: Democratic incumbent
                - O: Open seat (default)
          additionalProperties: true

    Polygon:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum: [Polygon]
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
              minItems: 2
              maxItems: 2

    MultiPolygon:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum: [MultiPolygon]
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: array
                items:
                  type: number
                minItems: 2
                maxItems: 2

    UploadResponse:
      type: object
      required:
        - index_url
        - plan_url
      properties:
        index_url:
          type: string
          format: uri
          description: |
            Machine-readable JSON representation of the plan being scored.
            The response follows the structure defined in the PlanIndex schema.
          example: "https://planscore.s3.amazonaws.com/uploads/20210307T032912.752515089Z/index.json"
        plan_url:
          type: string
          format: uri
          description: Human-readable web page with graphs and maps for the plan
          example: "https://planscore.org/plan.html?20210307T032912.752515089Z"

    S3UploadFields:
      type: array
      description: S3 URL and form fields for pre-signed POST upload
      minItems: 2
      maxItems: 2
      items:
        oneOf:
          - type: string
            format: uri
            description: S3 upload URL
          - type: object
            description: Form fields to include in multipart/form-data upload
            properties:
              key:
                type: string
                description: S3 object key pattern
              AWSAccessKeyId:
                type: string
                description: AWS access key ID
              x-amz-security-token:
                type: string
                description: AWS security token
              x-amz-storage-class:
                type: string
                description: S3 storage class
              policy:
                type: string
                description: Base64-encoded upload policy
              signature:
                type: string
                description: Upload signature
              acl:
                type: string
                description: Access control list setting
              success_action_redirect:
                type: string
                format: uri
                description: Redirect URL after successful upload
            additionalProperties: true

    MultistepUploadRequest:
      type: object
      properties:
        description:
          type: string
          description: Short description of the plan
          example: "A Plan"
        incumbents:
          type: array
          items:
            type: string
            enum: [R, D, O]
          description: Ordered list of incumbency scenario strings for each district
          example: ["R", "D", "O"]
        model_version:
          type: string
          description: Predictive model version. If omitted, the first one is used.
        library_metadata:
          $ref: '#/components/schemas/LibraryMetadata'

    CloneRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique identifier of the existing plan to re-score
          example: "20210307T032912.752515089Z"
        description:
          type: string
          description: Short description of the plan (optional, will override original if provided)
          example: "Congressional Redistricting Plan 2024"
        incumbents:
          type: array
          items:
            type: string
            enum: [R, D, O]
          description: Ordered list of incumbency scenario strings for each district
          example: ["R", "D", "O"]
        model_version:
          type: string
          description: Predictive model version. If omitted, the first one is used.
        library_metadata:
          $ref: '#/components/schemas/LibraryMetadata'

    StatesResponse:
      type: array
      description: List of supported states and legislative bodies
      items:
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
        example: ["XX", "congress"]

    ModelVersionsResponse:
      type: array
      description: List of available predictive model versions
      items:
        type: array
        items:
          type: string
        minItems: 2
        maxItems: 2
        example: ["2024-01", "2024 Model Version"]

    PlanIndex:
      type: object
      required:
        - id
        - description
        - districts
        - summary
        - status
      properties:
        id:
          type: string
          description: Unique identifier for the plan
          example: "20251111T020938.482589271Z"
        auth_token:
          type: string
          description: Authentication token used for the upload (redacted)
          example: "P9GE********"
        commit_sha:
          type: string
          description: Git commit SHA of the PlanScore version used for analysis
          example: "c2d34b2e751749fbc0605317696d9fdacd23bf75"
        description:
          type: string
          description: Plan description provided during upload
          example: "New Mexico 119th Congress Districts"
        districts:
          type: array
          description: Array of district analysis data
          items:
            type: object
            required:
              - number
              - is_counted
              - totals
            properties:
              number:
                type: integer
                description: District number
                example: 1
              is_counted:
                type: boolean
                description: Whether district is included in calculations
                example: true
              compactness:
                type: object
                description: District compactness metrics
                properties:
                  "Polsby-Popper":
                    type: number
                    description: Polsby-Popper compactness score
                    example: 0.2998
                  "Reock":
                    type: number
                    description: Reock compactness score
                    example: 0.4809
              totals:
                type: object
                description: Demographic, voting, and statistical totals for the district
                properties:
                  "Population 2020":
                    type: number
                    description: Total 2020 Census population
                  "Democratic Votes":
                    type: number
                    description: Predicted Democratic vote total
                  "Republican Votes":
                    type: number
                    description: Predicted Republican vote total
                  "Democratic Wins":
                    type: number
                    description: Probability of Democratic victory (0-1)
                additionalProperties:
                  type: number
                  description: Additional demographic, voting, or statistical data
        execution_id:
          type: string
          description: AWS Step Functions execution identifier
          example: "arn:aws:states:us-east-1:466184106004:execution:cfproductionMultistepAPIScoreM1035F811-geOlQemSOdsU:878d2e04-2c17-4658-964e-e1c886b73ed8"
        geometry_key:
          type: string
          description: S3 key for the geometry JSON file
          example: "uploads/20251111T020938.482589271Z/geometry.json"
        incumbents:
          type: array
          items:
            type: string
            enum: [R, D, O]
          description: Incumbent party for each district (R=Republican, D=Democratic, O=Open)
          example: ["D", "D", "D"]
        key:
          type: string
          description: S3 key path for the original uploaded file
          example: "uploads/20251111T020938.482589271Z/upload/tl_2025_35_cd119.zip"
        library_metadata:
          $ref: '#/components/schemas/LibraryMetadata'
        message:
          type: string
          description: Status message about the scoring process
          example: "Finished scoring this plan."
        model:
          type: object
          description: Information about the predictive model used
          properties:
            house:
              type: string
              description: Legislative body type
              example: "ushouse"
            state:
              type: string
              description: Two-letter state code
              example: "NM"
            seats:
              type: integer
              description: Number of seats/districts
              example: 3
            incumbency:
              type: boolean
              description: Whether incumbency effects are modeled
            versions:
              type: array
              items:
                type: string
              description: Available model versions
              example: ["2025B"]
        model_version:
          type: string
          description: Specific model version used for analysis
          example: "2025B"
        start_time:
          type: number
          description: Unix timestamp when scoring started
          example: 1762826979.7835817
        status:
          type: boolean
          description: Whether scoring completed successfully
          example: true
        summary:
          type: object
          description: Plan-level summary statistics and partisan metrics
          properties:
            "Efficiency Gap":
              type: number
              description: Overall efficiency gap score
              example: 0.2702
            "Partisan Bias":
              type: number
              description: Partisan bias measurement
              example: -0.0067
            "Mean-Median":
              type: number
              description: Mean-median difference score
              example: -0.0014
            "Declination":
              type: number
              description: Declination angle measurement
              example: 0.3484
          additionalProperties:
            type: number
            description: Additional summary statistics and rankings

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Error message
          example: "Bad GeoJSON input"

paths:
  /upload:
    post:
      summary: Upload district plan directly
      description: |
        Upload a GeoJSON district plan directly for scoring. Plans must be under 5MB.
        For larger files or other formats, use the multistep upload process.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoJSONPlan'
            example:
              type: "FeatureCollection"
              description: "Sample Congressional Plan"
              features: [
                {
                  "type": "Feature",
                  "properties": {
                    "Incumbent": "R"
                  },
                  "geometry": {
                    "type": "Polygon",
                    "coordinates": [[
                      [-74.0, 40.7],
                      [-74.0, 40.8],
                      [-73.9, 40.8],
                      [-73.9, 40.7],
                      [-74.0, 40.7]
                    ]]
                  }
                }
              ]
      responses:
        '200':
          description: Plan uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - invalid GeoJSON or plan data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      summary: Get S3 upload fields
      description: |
        Request S3 upload fields for multistep upload process. Returns a pre-signed S3 URL
        and form fields that can be used to upload files directly to S3.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: S3 upload fields returned successfully
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3UploadFields'
              example: [
                "https://planscore.s3.amazonaws.com/",
                {
                  "key": "uploads/20210307T032912.752515089Z/${filename}",
                  "AWSAccessKeyId": "AKIAIOSFODNN7EXAMPLE",
                  "x-amz-security-token": "token123",
                  "x-amz-storage-class": "INTELLIGENT_TIERING",
                  "policy": "eyJjb25kaXRpb25zIjpbXX0=",
                  "signature": "signature123",
                  "acl": "bucket-owner-full-control",
                  "success_action_redirect": "https://api.planscore.org/uploaded?id=signed_id"
                }
              ]
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /upload/temporary:
    post:
      summary: Upload temporary district plan
      description: |
        Upload a GeoJSON district plan for temporary scoring. Results will automatically
        disappear within a week. Same format as regular upload endpoint.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoJSONPlan'
      responses:
        '200':
          description: Temporary plan uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - invalid GeoJSON or plan data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /upload/interactive:
    get:
      summary: Get upload fields for browser-based uploads
      description: |
        Get S3 upload fields for browser-based interactive uploads. Similar to GET /upload
        but designed for direct browser usage without authentication.
      responses:
        '200':
          description: Upload fields returned successfully
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/S3UploadFields'

  /uploaded:
    post:
      summary: Complete multistep upload
      description: |
        Final step in the multistep upload process. Called with the redirect URL from S3
        after successful file upload to provide additional plan metadata and trigger scoring.
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultistepUploadRequest'
            example:
              description: "Congressional Redistricting Plan 2024"
              incumbents: ["R", "D", "O"]
              model_version: "2024-01"
      responses:
        '200':
          description: Upload completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - invalid upload data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clone:
    post:
      summary: Re-score an existing plan
      description: |
        Re-score an existing district plan to update to the most recent versions of the model
        or to change parts of the description and other configuration details.

        District plans shared with PlanScore are kept indefinitely.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
            example:
              id: "20210307T032912.752515089Z"
              description: "Updated Congressional Plan"
              model_version: "2024-01"
      responses:
        '200':
          description: Plan cloned and re-scoring started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - invalid plan ID or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clone/temporary:
    post:
      summary: Re-score an existing plan (temporary)
      description: |
        Re-score an existing district plan with results that will automatically disappear
        within a week. Same format as the regular clone endpoint.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneRequest'
            example:
              id: "20210307T032912.752515089Z"
      responses:
        '200':
          description: Temporary clone created and re-scoring started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Bad request - invalid plan ID or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /states:
    get:
      summary: Get supported states
      description: |
        Returns a list of all currently supported states and legislative bodies
        available for district plan scoring.
      responses:
        '200':
          description: List of supported states returned successfully
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatesResponse'
              example: [
                ["XX", "congress"],
                ["CA", "congress"],
                ["TX", "congress"]
              ]

  /model_versions:
    get:
      summary: Get available model versions
      description: |
        Returns a list of IDs and descriptions for all currently supported
        predictive model versions.
      responses:
        '200':
          description: List of model versions returned successfully
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelVersionsResponse'
              example: [
                ["2024-01", "2024 Model Version"],
                ["2022-01", "2022 Model Version"]
              ]