/*
 * DEFINITIONS
 */

$behind-background-color: #CCCCCC;

$navbar-background-color: white;
$navbar-text-color: #333;
$gray-bg: #ccc;
$gray-med: #95989A;

$republican-color: #C71C36;
$democrat-color: #0049A8;
$balanced-color: #CCCCCC;
$dark-purple-color: #4D599E;

$screen-xxs: 365px;
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;



/*
 * UTILITY CLASSES
 */

.center { text-align:center; }
.right { text-align:right; }
.left { text-align:left; }

.bold { font-weight:bold; }

.big { font-size: 120%; }

.nowrap { white-space:nowrap; }

.rightfloat { float: right; }

.pointer { cursor: pointer; }

.balanced {
    background-color: $balanced-color !important;
}
.democrat {
    background-color: $democrat-color !important;
}
.republican {
    background-color: $republican-color !important;
}


span.mobilespace {  /* a utlity class used to enclose a single space character, so it's only visible (and causes libne-wrap) on very small screens; see issue 99 */
    display: none;
    @media screen and (max-width: $screen-xxs) {
        display: inline;
    }
}

/*
 * GLOBAL GENERAL STYLES
 */

html, body, td {
    font-family: 'Roboto', sans-serif !important;
}

html {
    background-color: $behind-background-color;
}

td {
    color: #95989A;
}

th {
    color: #666;
}

td:nth-child(1){
    font-weight: 700;
}

.navbar-default {
    background-image: none;
    background-color: $navbar-background-color;

    box-shadow: none;
    border-bottom: 0 none transparent;

    color: $navbar-text-color;

    .navbar-toggle {
        border-color: white;
    }
    
    .navbar-nav > li > a {
        color: $navbar-text-color;
        padding-bottom: 4px;
    }
    
    .navbar-nav > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $navbar-text-color;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }
    
    .navbar-nav > li > a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    @media (min-width: $screen-sm) {
        #brand-logo {
            height: 40px;
            width: auto;
        }
    }
    
    @media (max-width: $screen-sm) {
        #brand-logo {
            height: 30px;
            width: auto;
        }
    }
}

div.footer {
    background-color: $behind-background-color;

    a {
        font-size: 14px;
        line-height: 50px;
        text-decoration: none;
        white-space:nowrap; /* prevent a single link (logo+words) from wrapping internally */
    }
}

.container-mainbody {
    padding-bottom: 100px;
}

label { font-weight:normal; }

label input[type="checkbox"] { vertical-align:text-top; }

h1 {
    font-size: 36px;
    color: #666666;
}

h2 {
    font-size: 30px;
    color: #666666;
}

h3 {
    font-size: 24px;
    color: #666666;
}

p {
    font-family: 'Roboto';
    font-size: 20px;
    color: #666666;
}

.btn-default {
    text-shadow: none;
    color: $gray-med;
    background-color: #F2F2F2;
    background-image: none  !important;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.16);
    margin-right: 4px;
    outline:0;
}

.btn-default:hover {
    color: $gray-med;
    background-color: #F2F2F2;
    border-color: none;
    outline:0;
}

.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    background-image: 2px 2px 2px 1px rgba(0,0,0,.16);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,.16);
    outline:0;
}

.btn-default:active {
    background-image: none  !important;
    -webkit-box-shadow: none 2px 2px 2px 1px rgba(0,0,0,.16);
    box-shadow: none  2px 2px 2px 1px rgba(0,0,0,.16);
    outline:0;
}

.gray {
    background-color: $gray-bg;
    color: white !important;
    padding: 10px;
}

.gray p {
    color: white !important;
    margin-bottom: 2px;
}

.gray .btn {
    display: block;
    margin: 14px auto 5px;
    width: 100%;
}

ul.nav.nav-tabs {
    border-bottom: 1px solid #B3B3B3;

    a {
        font-size: 18px;
        border-radius: 0;
        color: $gray-med;
        text-align: center;
    }

    li {
        width: 33.3333%;
    }
    
    li a {
        margin-right: 0;
        border: 1px solid #B3B3B3;
        background-color: #F2F2F2;
    }
    
    li a:hover {
        border: 1px solid #B3B3B3;
        background-color: #F2F2F2;
        color: $gray-med;
    }
    
    li.active a {
        border: 1px solid #B3B3B3;
        border-top: 3px solid $dark-purple-color;
        border-bottom-color: transparent;
        margin-top: -1.5px;
        background-color:white;
        color: $gray-med;
    }
    
    @media screen and (max-width: $screen-xs) {
        a {
            font-size: 16px;
        }
        li a {
            padding: 5px;
        }
    }
}

.tab-content {
    .tab-pane {
        padding: 1em 1em 1em 1em;
        border: 1px solid #B3B3B3;
        border-top-color: transparent;

        p {
            font-size: 16px;
            color: #121212;
        }
    }
}

div.metric-block p {
        font-size: 16px;
        color: #121212;
    }   

div.tab-content, div.metric-block {
    div.metricdrsum {
        float: left;
        font-size: 18px;
        padding: 5px 5px 5px 5px;
        color: white;

        margin-right: 1em;
    }
    div.metricdrblurb {
        float: left;
        padding-top: 0.5em;
    }

    h2 {
        font-size: 18px;
        margin-top: 0;
    }

    .tab-pane p {
        font-size: 13px;
    }
}

#yearpicker-small-wrapper {
    display: block;
    margin-bottom: 15px;
}

#statepicker, #yearpicker-small {
    padding: 5px;
    color: $gray-med;
    border-color: $gray-med;
    border-radius: 2px;
}


div.left-photo img {
    width: 100%;
    margin-top: 25px;
}

div.right-text {
    margin: 25px 0px;
    clear: both;
}


/*
 * BELLCHART DIAGRAMS
 * bellcharts indicating the plan's percentile rating
 * a bit of a visual trick: a single-bar column chart, and a stretching background of a bell curve for visual reference
 */
div.metric-bellchart {

    width: 300px;
    height: 150px;
    background-image: none;  /* overridden in subclasses */
    background-repeat: no-repeat;
    background-size: 100% 100%;  /* stretch the graphic to fill the area 100% */
    background-position: 0 0;

    position: relative; /* for positioning the markline */
    div.markline {
        position: absolute;
        left: 50%; /* override this to position the markerline at the appropriate % with 0% being far left and 100% being far right */
        top: 40px;
        height: 100px;

        width: 2px;
        margin-left: -1px;  /* half of width, so it centers at the given left % */
        background-color: black;
    }
}
div.metric-bellchart.ushouse.plan.eg {
    background-image: url(/images/ushouse_eg_plan_curve.svg);
}
div.metric-bellchart.ushouse.plan.mm {
    background-image: url(/images/ushouse_mmd_plan_curve.svg);
}
div.metric-bellchart.ushouse.plan.pb {
    background-image: url(/images/ushouse_bias_plan_curve.svg);
}
div.metric-bellchart.statehouse.plan.eg {
    background-image: url(/images/statehouse_eg_plan_curve.svg);
}
div.metric-bellchart.statehouse.plan.mm {
    background-image: url(/images/statehouse_mmd_plan_curve.svg);
}
div.metric-bellchart.statehouse.plan.pb {
    background-image: url(/images/statehouse_bias_plan_curve.svg);
}
div.metric-bellchart.statesenate.plan.eg {
    background-image: url(/images/statesenate_eg_plan_curve.svg);
}
div.metric-bellchart.statesenate.plan.mm {
    background-image: url(/images/statesenate_mmd_plan_curve.svg);
}
div.metric-bellchart.statesenate.plan.pb {
    background-image: url(/images/statesenate_bias_plan_curve.svg);
}
div.metric-bellchart.ushouse.election.eg {
    background-image: url(/images/ushouse_eg_election_curve.svg);
}
div.metric-bellchart.ushouse.election.mm {
    background-image: url(/images/ushouse_mmd_election_curve.svg);
}
div.metric-bellchart.ushouse.election.pb {
    background-image: url(/images/ushouse_bias_election_curve.svg);
}
div.metric-bellchart.statehouse.election.eg {
    background-image: url(/images/statehouse_eg_election_curve.svg);
}
div.metric-bellchart.statehouse.election.mm {
    background-image: url(/images/statehouse_mmd_election_curve.svg);
}
div.metric-bellchart.statehouse.election.pb {
    background-image: url(/images/statehouse_bias_election_curve.svg);
}
div.metric-bellchart.statesenate.election.eg {
    background-image: url(/images/statesenate_eg_election_curve.svg);
}
div.metric-bellchart.statesenate.election.mm {
    background-image: url(/images/statesenate_mmd_election_curve.svg);
}
div.metric-bellchart.statesenate.election.pb {
    background-image: url(/images/statesenate_bias_election_curve.svg);
}



/*
 * BOUNDARY PICKER
 * the selector for statehouse/ushouse/senate
 */
#boundarypicker {
    /* small-enough screens, force these to 100% as they will linewrap before Bootstrap will "xs" them to stack */
    @media screen and (max-width: $screen-xs) {
        > div {
          width: 100%;
        }

        > div {  /* when stacked, give them a tiny bit of bottom margin so they do't blur together */
            margin-bottom: 10px;
        }
    }

    div[data-boundary] {
        cursor: pointer;

        a {
            text-decoration: none !important;
            color: #95989A;
        }

        background-color: #F2F2F2;

        padding-bottom: 15px;
        padding-top: 15px;

        font-size: 18px;
        border-radius: 2px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .16);
    }
    div[data-boundary].active {
        background-color: #4D599E;
        color: white;
        a {
            color: white;
        }
    }
    div[data-boundary="ushouse"] {
    }
    div[data-boundary="statesenate"] {
    }
    div[data-boundary="statehouse"] {
    }

    div[data-boundary="statesenate"], div[data-boundary="statesenate"] a { /* issue 112 temporarily disabled */
        opacity: 0.7; cursor: not-allowed;
    }
}
