/*
 * DEFINITIONS
 */

html, body, td {
    font-family: 'Roboto', sans-serif !important;
}

nav.navbar-fixed-bottom {
    a {
        font-size: 14px;
        line-height: 50px;
        text-decoration: none;
        white-space:nowrap; /* prevent a single link (logo+words) from wrapping internally */
    }
}

.container-mainbody { /* the navbar-fixed-bottom will obscure text at the bottom, unless we add padding so the text never reaches that far */
    padding-bottom: 200px; /* mobile = footer wraps and becomes taller than on desktop = leave more space */
}

.center { text-align:center; }
.right { text-align:right; }
.left { text-align:left; }
.bold { font-weight:bold; }
.nowrap { white-space:nowrap; }

.rightfloat { float: right; }

.pointer { cursor: pointer; }

label { font-weight:normal; }

label input[type="checkbox"] { vertical-align:text-top; }

h1 {
    font-size: 36px;
    color: #666666;
}

h2 {
    font-size: 30px;
    color: #666666;
}

h3 {
    font-size: 24px;
    color: #666666;
}

p {
    font-family: 'Roboto';
    font-size: 20px;
    color: #666666;
}

ul.nav.nav-tabs {
    border-bottom: 1px solid #333;

    a {
        font-size: 18px;
        border-radius: 0;
    }

    li.active a {
        border: 1px solid #333;
        border-bottom-color: transparent;
        border-top-width: 3px;
    }
}

.tab-content {
    .tab-pane {
        padding: 1em 1em 1em 1em;

        p {
            font-size: 16px;
            color: #333333;
        }
    }
}
