/*
 * DEFINITIONS
 */

$behind-background-color: #CCCCCC;

$navbar-background-color: white;
$navbar-text-color: #333;

/*
 * UTILITY CLASSES
 */

.center { text-align:center; }
.right { text-align:right; }
.left { text-align:left; }

.bold { font-weight:bold; }

.big { font-size: 120%; }

.nowrap { white-space:nowrap; }

.rightfloat { float: right; }

.pointer { cursor: pointer; }



/*
 * GLOBAL GENERAL STYLES
 */

html, body, td {
    font-family: 'Roboto', sans-serif !important;
}

html {
    background-color: $behind-background-color;
}

.navbar-default {
    background-image: none;
    background-color: $navbar-background-color;

    box-shadow: none;
    border-bottom: 0 none transparent;

    color: $navbar-text-color;

    .navbar-nav > li > a {
        color: $navbar-text-color;
    }
    
    @media (min-width: 768px) {
        #brand-logo {
            height: 40px;
            width: auto;
        }
    }
    
    @media (max-width: 768px) {
        #brand-logo {
            height: 30px;
            width: auto;
        }
    }
}

div.footer {
    background-color: $behind-background-color;

    a {
        font-size: 14px;
        line-height: 50px;
        text-decoration: none;
        white-space:nowrap; /* prevent a single link (logo+words) from wrapping internally */
    }
}

.container-mainbody {
    padding-bottom: 100px;
}

label { font-weight:normal; }

label input[type="checkbox"] { vertical-align:text-top; }

h1 {
    font-size: 36px;
    color: #666666;
}

h2 {
    font-size: 30px;
    color: #666666;
}

h3 {
    font-size: 24px;
    color: #666666;
}

p {
    font-family: 'Roboto';
    font-size: 20px;
    color: #666666;
}

ul.nav.nav-tabs {
    border-bottom: 1px solid #B3B3B3;

    a {
        font-size: 18px;
        border-radius: 0;
        color: #95989A;
    }

    li.active a {
        border: 1px solid #B3B3B3;
        border-top-width: 3px solid #4D599E;
        border-bottom-color: transparent;
    }
}

.tab-content {
    .tab-pane {
        padding: 1em 1em 1em 1em;
        border: 1px solid #B3B3B3;
        border-top-color: transparent;

        p {
            font-size: 16px;
            color: #121212;
        }
    }
}