@import 'sitewide';

#map path.highcharts-key-us-dc {
    display: none !important;  /* issue 78 adds small-states legend, this hides DC which we don't have */
}

#map g.highcharts-tooltip {
    z-index: 100;
}

#map {
    height: 400px;
    width: 100%;

    margin-bottom: 30px;

    /* the legend is a custom graphic beyond what Highcharts can do, here are contgrivances to position it; see renderMapLegend() */
    position: relative;
    div.legend {
        position: absolute;
        bottom: 12px;
        right: 10px;

        div.slice {
            display: inline-block;
            width: 15px;
            height: 15px;
            /* border: 1px solid black; */

            text-align: center;
            span {
                color: #fff;
                font-size: 15px;
                position: relative;
                top: -2px;
            }
        }
        div.slice:last-of-type { /* No Data comes last */
            margin-left: 15px;
            border: 1px solid silver;
            margin-right: 5px;
        }

        h1 { /* title */
            font-size: 13px;
            margin: 0;
        }
        h2 { /* subtitle */
            font-size: 11px;
            margin: 0 0 5px 0;
        }
        h5 { /* No Data */
            display: inline;
            font-size: 12px;
            vertical-align: text-top;
        }
    }
}

#yearpicker-small {
    select {
    }
}

#yearpicker-big {
    margin-bottom: 15px;
    height: 35px;

    background-image: url(../images/yearpicker-stripe.jpg);
    background-repeat-y: no-repeat;
    background-position: 0 8px;

    div {  /* structure is a series of rectangular DIVs, each one containing a A for the visible circle */
        cursor: pointer;
        text-align: center;

        display: inline;
        float:left;

        a {
            display: inline-block;
            vertical-align: middle;
            height: 10px;
            width: 10px;
            background-color: white;
            border: 2px solid black;
            border-radius: 50%;
        }

        span {  /* year labels */
            display: block;
            color: #666666;
            font-size: 12px;
        }
    }
    div.decade {  /* larger dots for decades */
        a {
            width: 20px;
            height: 20px;
        }
    }
    div.presidential {
    }

    div.active {  /* the currently-selected year */
        a {
            background-color: black;
        }
    }
}

#boundarypicker {
    /* small-enough screens, force these to 100% as they will linewrap before Bootstrap will "xs" them to stack */
    @media screen and (max-width: 550px) {
        > div {
          width: 100%;
        }

        > div {  /* when stacked, give them a tiny bit of bottom margin so they do't blur together */
            margin-bottom: 3px;
        }
    }

    div[data-boundary] {
        cursor: pointer;

        a {
            text-decoration: none !important;
            color: #95989A;
        }

        background-color: #F2F2F2;

        padding-bottom: 15px;
        padding-top: 15px;

        font-size: 18px;
        border-radius: 2px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .16);
    }
    div[data-boundary].active {
        background-color: #4D599E;
        color: white;
        a {
            color: white;
        }
    }
    div[data-boundary="ushouse"] {
    }
    div[data-boundary="statesenate"] {
    }
    div[data-boundary="statehouse"] {
    }
}

#statepicker, #yearpicker-small {
    padding: 5px;
    border-radius: 5px;
}

#stateinfo-modal {
}

#states-listing {
    div {
    }
    a {
        font-family: 'Roboto';
        font-size: 18px;
        color: #666666;
    }

    span.swatch {  /* see also updateStateListingSwatches() which dynamically recolors these */
        display:: inline-block;
        height: 14px;
        width: 14px;
    }
}
