#plan-description h4 {
    margin-top: 0;
}

#message p { 
    overflow: hidden;
}


/*

https://github.com/PlanScore/PlanScore/blob/b48188b/_common/jslibs/leaflet-control-partylegend.css

*/

div.planscore-partylegend {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: #fff;

    padding: 5px 5px 0 5px;
}

div.planscore-partylegend div.planscore-partylegend-legend {
}

div.planscore-partylegend div.planscore-partylegend-swatch {
    display: inline-block;
    width: 18px;
    height: 18px;
}

div.planscore-partylegend div.planscore-partylegend-swatch-democrat {
    background-color: #0049A8;
    opacity: 0.6;
}

div.planscore-partylegend div.planscore-partylegend-swatch-republican {
    background-color: #C71C36;
    opacity: 0.6;
}

div.planscore-partylegend div.planscore-partylegend-swatch-both {
    background-image: url(/images/mapfill_nodata.png);
    opacity: 0.6;
}

div.planscore-partylegend div.planscore-partylegend-words {
    padding-left: 10px;
    font-size: 14px;
    display: inline-block;
    vertical-align: text-bottom;
}

.table-districts, .table-metrics {
    height: auto;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
}
.table-districts {
    height: calc(100vh - 400px - 20px); /* fit on screen along with the 400px tall map, and some margin */
    min-height: 300px;
}
.table-metrics {
    margin-top: 15px;
}
@media only print {
    .table-districts { height: auto; }
}
.table-districts td, .table-metrics td, .table-districts th, .table-metrics th { text-align: right; }
.table-districts td.ltxt, .table-metrics td.ltxt, .table-districts th.ltxt, .table-metrics th.ltxt { text-align: left; }
.table-districts tbody td, .table-metrics tbody td {
    white-space: nowrap; /* nowrap => body rows stay single-line => more dense display */
}
.table-districts table, .table-metrics table {
    margin: 0;
}

/* 
    CSS responsive table with fixed column and row headers and scroll snap
    by Scott Jehl
    https://codepen.io/scottjehl/pen/abJrPOP?editors=1100
*/
.table-jehl {
    scroll-snap-type: x mandatory;
    overflow: auto;
    border: 1px solid #ddd;
}
.table-jehl th, .table-jehl td {
    scroll-snap-align: start;
}
.table-jehl thead {
    z-index: 1000;
    position: relative;
}
.table-jehl thead th {
    position: sticky;
    top: 0;
}
.table-jehl thead th:first-child {
    left: 0;
    z-index: 1001;
    border-left: 0;
}
.table-jehl tbody {
    z-index: 10;
    position: relative;
}
.table-jehl tbody th {
    background-clip: padding-box;
    border-left: 0;
    position: sticky;
    left: 0;
}
.table-jehl thead th,
.table-jehl tbody th {
    background-color: #f8f8f8;
}
