html
{
    font-size: 14px;
}

body
{
    margin: 1.5rem;
    background-color: #FDF6E4;
    color: #667B83;
}

h1, h2, th
{
    font-family: 'Source Sans Pro', sans-serif;
    color: #B4881D;
}

a, a:link { color: #2E8CCF; text-decoration: underline }
a:visited { color: #6D73C2 }

h1 a, h2 a { color: inherit !important; text-decoration: none !important }

h1 a img { width: auto; border: none }

a img
{
    width: 100%;
    border: 1px solid;
}

table
{
    font-size: 0.6rem;
    background-color: rgba(255, 255, 255, 0.35);
}

th, td, p img { border-color: #EEE8D6 }

/*
 * Override writ.css for tile image inside the map.
 */
#map img { max-width: none }

/*
 * Larger table typefor medium-sized screens.
 */
@media only screen and (min-width: 480px)
{
    table
    {
        font-size: 1rem;
    }
}

/*
 * Larger type and layout for iPad and larger screens.
 */
@media only screen and (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
    
    body
    {
        width: 720px;
        margin: 1.5rem auto;
    }

    ul#scores-box li
    {
        width: 23%;
        margin-right: 2%;
        float: left;
    }
}
