body, h4
{
    font-family: Georgia, Palatino, Lucida Bright, Book Antiqua, serif;
    font-size: 16px;
    color: #606980;
    background-color: #f6f6f6;
}

h2, h3
{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 32px;
}

h3
{
    font-size: 23px;
}

h4
{
    font-weight: bold;
}
