/*
 * DEFINITIONS
 */

$behind-background-color: #CCCCCC;

$navbar-background-color: white;
$navbar-text-color: #333;
$gray-bg: #ccc;
$gray-med: #95989A;

$republican-color: #C71C36;
$democratic-color: #0049A8;
$balanced-color: #CCCCCC;
$dark-purple-color: #4D599E;

/* the maps and bellcurves have a gentle gradient of 100 colors from red to purple to blue; for CSS purposes we use a simpified set of 7 colors */
/* this is idiosyncratic to the #maplegend on the front page, as everyplace else uses lookupBias() to get a real color */
$biascolor-r3: rgb(205, 57, 82);
$biascolor-r2: rgb(218, 118, 142);
$biascolor-r1: rgb(231, 180, 202);
$biascolor-0: rgb(227, 220, 245);
$biascolor-d1: rgb(155, 173, 220);
$biascolor-d2: rgb(82, 126, 196);
$biascolor-d3: rgb(10, 79, 171);

$screen-xxs: 365px;
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
