{% extends "patternlibrary.html" %}
{% block title %}Friends and Resources{% endblock %}
{% block content %}

    <h1>Friends and Resources</h1>
    
    <div class="row">
        <div class="col-md-6">
            <p>
                <a href="http://www.openelections.net">OpenElections</a> seeks
                to create the first free, comprehensive, standardized, linked
                set of election data for the United States, including federal
                and statewide offices.
            </p>

            <p>
                <a href="https://nvkelso.github.io/election-geodata/">Election Geodata</a>
                is Nathaniel Vaughn Kelso’s collection of precinct shapes for
                U.S. elections past, present, and future.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <a href="http://www.projectlinework.org">Project Linework</a>
                is Daniel Huffman’s library of handcrafted vector linework for
                cartography, each designed in a unique aesthetic style.
            </p>

            <p>
                <a href="https://www.highcharts.com">Highcharts</a> makes it
                easy for developers to set up interactive charts in their web
                pages.
            </p>
        </div>
    </div>

{% endblock %}
