{% extends "layout-text.html" %}
{% block title %}About{% endblock %}
{% block head %}

    <style lang="text/css">

        .bio
        {
            clear: left;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .bio .bio-photo
        {
            float: left;
            margin-bottom: 20px;
        }

        .bio .bio-photo img
        {
            width: 75px;
        }

        .bio .bio-text
        {
            margin-left: 95px;
        }

        .bio .bio-text h4,
        .bio .bio-text p
        {
            margin-top: 0;
            margin-bottom: .5rem;
        }
    
        @media (min-width: 840px)
        {
            .bio .bio-photo img
            {
                width: 150px;
            }

            .bio .bio-text
            {
                margin-left: 170px;
            }
        }

    </style>

{% endblock %}
{% block content %}

<h2>Who is PlanScore?</h2>

<div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/migurski.jpg') }}" alt="Photo of Michal Migurski">
    </div>
    <div class="bio-text">
        <h4><a href="https://www.linkedin.com/in/michalmigurski/">Michal Migurski</a></h4>
        <p>Executive Director</p>
        <p>Michal has been a leader in open source geospatial software and data in many organizations, as technical director of National Design Award-winning mapping and data visualization studio Stamen and Chief Technology Officer at government technology non-profit Code for America.</p>
    </div>
</div>
<div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/mcghee.jpg') }}" alt="Photo of Eric McGhee">
    </div>
    <div class="bio-text">
        <h4><a href="http://www.ppic.org/person/eric-mcghee/">Eric McGhee</a></h4>
        <p>Eric is a political scientist who focuses on elections, legislative behavior, political reform, and public opinion. His research has appeared in numerous high-profile academic journals and media outlets. He is a leading expert on redistricting, and is the inventor of the efficiency gap and co-creator (with Nick Stephanopoulos) of a proposed legal test based on the metric. He holds a PhD in political science from the University of California, Berkeley.</p>
    </div>
</div>
<div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/jackman.jpg') }}" alt="Photo of Simon Jackman">
    </div>
    <div class="bio-text">
        <h4><a href="https://www.ussc.edu.au/people/simon-jackman">Simon Jackman</a></h4>
        <p>Simon is the Chief Executive Officer at the U.S. Studies Centre at the University of Sydney, Australia. Prior to that he was a professor of political science and statistics at Stanford University. His teaching and research centers on public opinion, election campaigns, political participation, and electoral systems. Simon has been the expert witness in two partisan gerrymandering cases (<i>Gill v. Whitford</i> and <i>LWVNC v. Rucho</i>).</p>
    </div>
</div>
<div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/stephanopoulos.jpg') }}" alt="Photo of Nicholas Stephanopoulos">
    </div>
    <div class="bio-text">
        <h4><a href="https://www.law.uchicago.edu/faculty/stephanopoulos">Nicholas Stephanopoulos</a></h4>
        <p>Nicholas is a Professor of Law at the University of Chicago Law School. His research and teaching interests include election law, constitutional law, legislation, administrative law, comparative law, and local government law. Nicholas co-authored the original law review article on the efficiency gap with Eric McGhee, and is co-counsel for the plaintiffs in two partisan gerrymandering cases (<i>Gill v. Whitford</i> and <i>LWVNC v. Rucho</i>).</p>
    </div>
</div>
<div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/greenwood.jpg') }}" alt="Photo of Ruth Greenwood">
    </div>
    <div class="bio-text">
        <h4><a href="http://www.campaignlegalcenter.org/team/ruth-greenwood">Ruth Greenwood</a></h4>
        <p>Ruth is a Senior Legal Counsel at the Campaign Legal Center, where she litigates a variety of redistricting cases. Along with co-counsel, Ruth represents the plaintiffs in two partisan gerrymandering cases (<i>Gill v. Whitford</i> and <i>LWVNC v. Rucho</i>).</p>
    </div>
</div>

{% endblock %}
