{% extends "patternlibrary.html" %}
{% block title %}Annotate Plan{% endblock %}
{% block head %}
    <style lang="text/css">
    
        table td input[type='radio']
        {
            margin-right: .5em;
        }

    </style>
{% endblock %}
{% block content %}

    <h2>
        Almost Done!
    </h2>

    <form id="annotate" action="{{uploaded_url}}" method="get">
        <p>
            <label>
                Name this plan:
                <input type="text" name="description" placeholder="New Plan" size="32">
            </label>
            <input type="hidden" name="id">
            <input type="hidden" name="bucket">
            <input type="hidden" name="key">
            <input type="submit" name="submission" value="Score This Plan" class="btn btn-primary">
        </p>
    </form>
	<script language="javascript">
	
        // Copied from https://davidwalsh.name/query-string-javascript
        function getUrlParameter(name)
        {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

	    var form = document.getElementById('annotate'),
	        plan_id = location.search.replace('?', '');
	    
        form.elements['description'].value = getUrlParameter('key').replace(/^.+\/([^\/]+)$/, '$1');
        form.elements['id'].value = getUrlParameter('id');
        form.elements['bucket'].value = getUrlParameter('bucket');
        form.elements['key'].value = getUrlParameter('key');

	</script>
    
    {#
    <p>
        If you know which districts have incumbents running for re-election,
        select their party affiliation below for a more accurate prediction.
    </p>

    <div class="table-responsive ">
        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th>District</th>
                    <th colspan="3">Incumbency</th>
                </tr> 
            </thead> 
            <tbody> 
                <tr>
                    <td>1</td>
                    <td><label><input type="radio" name="incumbent-1" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-1" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-1" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><label><input type="radio" name="incumbent-2" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-2" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-2" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><label><input type="radio" name="incumbent-3" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-3" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-3" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><label><input type="radio" name="incumbent-4" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-4" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-4" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><label><input type="radio" name="incumbent-5" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-5" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-5" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><label><input type="radio" name="incumbent-6" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-6" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-6" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><label><input type="radio" name="incumbent-7" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-7" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-7" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><label><input type="radio" name="incumbent-8" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-8" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-8" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><label><input type="radio" name="incumbent-9" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-9" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-9" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td><label><input type="radio" name="incumbent-10" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-10" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-10" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td><label><input type="radio" name="incumbent-11" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-11" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-11" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td><label><input type="radio" name="incumbent-12" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-12" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-12" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td><label><input type="radio" name="incumbent-13" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-13" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-13" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td><label><input type="radio" name="incumbent-14" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-14" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-14" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td><label><input type="radio" name="incumbent-15" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-15" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-15" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td><label><input type="radio" name="incumbent-16" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-16" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-16" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td><label><input type="radio" name="incumbent-17" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-17" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-17" value="R"> Republican Incumbent</label></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td><label><input type="radio" name="incumbent-18" value="D"> Democratic Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-18" value="" checked> Unknown or No Incumbent</label></td>
                    <td><label><input type="radio" name="incumbent-18" value="R"> Republican Incumbent</label></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>
        <input type="submit" name="submission" value="Score This Plan" class="btn btn-primary" disabled>
    </p>
    #}

	{% include 'olark-embed.html' %}

{% endblock %}
