{% extends "layout.html" %}
{% block title %}Hello{% endblock %}
{% block content %}

<p>
PlanScore scores legislative district plans.
</p>
<p>
In The United States, a plan is used to divide a state into congressional or legislative districts.
Voters in each district elect a representative to Congress, to their state legislature, and to other
non-state chambers like a city council. These votes are winner-take-all, and only one representative
is sent from each district. It’s good for the state delegation to represent the people closely.
It’s also possible to use the district planning process to help certain groups in an unbalanced way, and
over time laws like <a href="https://en.wikipedia.org/wiki/Voting_Rights_Act_of_1965">the 1965 Voting Rights Act</a>
have been enacted to extend traditional plan principles like compactness, contiguity, and respect
for political geography or communities with shared interests. More recently, there has been a rising
interest in partisan effects of district plans resulting in a new measurement called <i>the efficiency
gap</i>. <a href="http://mike.teczno.com/notes/redistricting.html">Read this blog post for a rough summary</a>.
</p>
<p>
Redistricting traditionally happens after decennial Census to take advantage of new and accurate counts
of the population. The next district drawing process will take place in 2020, and PlanScore will be a
way to easily measure proposed state district plans in a variety of ways to ensure that they’re fair.
</p>
<p>
Here’s <a href="https://github.com/migurski/PlanScore/blob/master/planscore/website/static/index/null-island-boundary.geojson">Null Island, a tiny, fake state</a> we can use as an example:
</p>
<p>
<a href="https://github.com/migurski/PlanScore/blob/master/planscore/website/static/index/null-island-boundary.geojson"><img src="{{ url_for('static', filename='index/null-island.png') }}" alt="Null Island map"></a>
</p>
<p>
Null Island needs to send two representatives to Congress, so it must be divided into two districts.
Will <a href="{{ url_for('get_plan') }}?20170522T070906.994875589Z">this proposed district plan</a>
fairly represent voters?
</p>
<p>
<a href="{{ url_for('get_plan') }}?20170522T070906.994875589Z"><img src="{{ url_for('static', filename='index/districts-labeled.png') }}" alt="Proposed district plan"></a>
</p>
<p>
To answer that question,
we will need to know a few facts about the peeople living in each district: how many there are, some
basic demographics, and how they tend to vote to calculate an efficiency gap. Fortunately, we have an
<a href="https://github.com/migurski/PlanScore/blob/master/planscore/website/static/index/null-island-precincts-bounded.geojson">underlying map of voting precincts</a>
with accurate numbers:
</p>
<p>
<a href="https://github.com/migurski/PlanScore/blob/master/planscore/website/static/index/null-island-precincts-bounded.geojson"><img src="{{ url_for('static', filename='index/precincts-labeled.png') }}" alt="Map of voting precincts"></a>
</p>
<p>
Null Island is a small state with a total population is 1,500 people.
Voter turnout is 80% and evenly split between two political parties.
</p>
<table>
<tr><th>Name</th><th>Population</th><th>Red Party Votes</th><th>Blue Party Votes</th></tr>
<tr><td>Precinct 1</td><td>500</td><td>200</td><td>200</td></tr>
<tr><td>Precinct 2</td><td>500</td><td>100</td><td>300</td></tr>
<tr><td>Precinct 3</td><td>400</td><td>300</td><td>0</td></tr>
<tr><td>Precinct 4</td><td>100</td><td>0</td><td>100</td></tr>
</table>
<p>
In our proposed plan Precincts 3 and 4 fall within district A, Precinct 2 falls within District B,
and Precinct 1 is split between the two districts. We’re just splitting the island into western
and eastern districts, following one of the convenient precinct boundaries to come up with an even split:
</p>
<p>
<a href="{{ url_for('get_plan') }}?20170522T070906.994875589Z"><img src="{{ url_for('static', filename='index/districts-labeled-precincts.png') }}" alt="District plan with precincts"></a>
</p>
<!-- 20170522T070906.994875589Z -->
<table>
<tr><th>Name</th><th>Population</th><th>Red Party Votes</th><th>Blue Party Votes</th><th>Winner</th></tr>
<tr><td>District A</td><td>601</td><td>340</td><td>141</td><td>Red Party</td></tr>
<tr><td>District B</td><td>899</td><td>260</td><td>459</td><td>Blue Party</td></tr>
</table>
<p>
The first thing we can see from this plan is that the populations are unbalanced, with over 300 more
people in District B than A. The calculated efficiency gap of +10% for Blue Party reflects this
imbalance, but we know from the precinct numbers that Null Island voters are evenly split between
the two parties. We should see no gap. So, we need to fix that population imbalance by moving the
district boundary to the east.
</p>
<p>
After a few tries, <a href="{{ url_for('get_plan') }}?20170522T200855.990868916Z">we come up with this new plan</a>:
</p>
<p>
<a href="{{ url_for('get_plan') }}?20170522T200855.990868916Z"><img src="{{ url_for('static', filename='index/districts-labeled-split3.png') }}" alt="Second district plan with precincts"></a>
</p>
<!-- 20170522T200855.990868916Z -->
<table>
<tr><th>Name</th><th>Population</th><th>Red Party Votes</th><th>Blue Party Votes</th><th>Winner</th></tr>
<tr><td>District A</td><td>754</td><td>376</td><td>227</td><td>Red Party</td></tr>
<tr><td>District B</td><td>746</td><td>224</td><td>373</td><td>Blue Party</td></tr>
</table>
<p>
Now, the two district populations are much closer to one another. The delegation is still made up
of a representative from each party, but our calculated efficiency gap is just +0.2% for Red Party,
a negligible number.
</p>
<!--
<a href="https://github.com/migurski/PlanScore/blob/master/planscore/tests/data/XX/10/511/512.geojson"><img src="{{ url_for('static', filename='index/precincts-tiled.png') }}" alt="Tiled precinct areas"></a>
-->

{% endblock %}
