<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %} — PlanScore</title>
	<link rel="stylesheet" href="https://writ.cmcenroe.me/writ.css" />
	<link rel="stylesheet" href="{{ digested_static_url('style.css') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}{% endblock %}
</head>
<body>
    <p style="float: right; margin-top: 0">
        🚧
        <a href="https://github.com/migurski/PlanScore/projects">Under Construction</a>
        🚧
    </p>
    <h1><a href="{{ url_for('get_old_index') }}"><img src="{{ digested_static_url('logo.png') }}" width="171" height="74" alt="PlanScore"></a></h1>
    {% block content %}{% endblock %}
</body>
</html>
