{% extends "patternlibrary.html" %}
{% block title %}Mean-Median Difference{% endblock %}
{% block content %}

    <div class="col-sm-6">
        <h1>Mean-Median Difference</h1>
        <p>The mean-median difference is a party&rsquo;s median vote share minus its mean vote share, across all of a plan&rsquo;s districts. For example, if a party has a median vote share of 45% and a mean vote share of 50%, then the plan has a mean-median difference of 5% against this party. When the mean and the median diverge significantly, the district distribution is skewed in favor of one party and against its opponent. Conversely, when the mean and the median are close, the district distribution is more symmetric.</p>
        <p>For more about the mean-median difference, see Michael McDonald and Robin Best’s 2015 Election Law Journal article, <a href="https://www.brennancenter.org/sites/default/files/legal-work/McDonald_Best_Unfair_Gerrymanders_2015.pdf"><i>Unfair Partisan Gerrymanders in Politics and Law: A Diagnostic Applied to Six Cases</i></a>.</p>
        <p>Compare the mean-median difference to two other metrics, <a href="{{ url_for('get_partisanbias_page') }}">partisan bias</a> and the <a href="{{ url_for('get_efficiencygap_page') }}">efficiency gap</a>.</p>
    </div>
    
    <div class="col-sm-6">
        <h3><a href="https://planscore.org/georgia/#!2006-plan-ushouse-mm">Georgia 2006</a></h3>
        <p>
            Under <a href="https://planscore.org/georgia/#!2006-plan-ushouse-mm">Georgia’s 2006-2010 congressional plan</a>,
            the median Republican vote share was 11% higher than the mean Republican vote share.
        </p>
        <div class="metric-bellchart" id="georgia-mm">
            <div class="curve"><div class="marklabel">GA</div><div class="markline"></div></div>
            <div class="row metric-bellchart-legend">
                <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                <div class="col-xs-4 center">Balanced</div>
                <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
            </div>
        </div>
        <script>
            drawBiasBellChart('mm', -0.11, 'georgia-mm', 'ushouse', 'plan');
        </script>

        <h3><a href="https://planscore.org/kentucky/#!1980-plan-ushouse-mm">Kentucky 1972</a></h3>
        <p>
            Under <a href="https://planscore.org/kentucky/#!1980-plan-ushouse-mm">Kentucky’s 1972-1980 congressional plan</a>,
            the median Democratic vote share was 10% higher than the mean Democratic vote share.
        </p>
        <div class="metric-bellchart" id="kentucky-mm">
            <div class="curve"><div class="marklabel">KY</div><div class="markline"></div></div>
            <div class="row metric-bellchart-legend">
                <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                <div class="col-xs-4 center">Balanced</div>
                <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
            </div>
        </div>
        <script>
            drawBiasBellChart('mm', 0.1, 'kentucky-mm', 'ushouse', 'plan');
        </script>
        
    </div>

{% endblock %}
