{% extends "patternlibrary.html" %}
{% block title %}Partisan Bias{% endblock %}
{% block content %}

    <div class="col-sm-6">
        <h1>Partisan Bias</h1>
        <p>Partisan bias is the difference between each party&rsquo;s seat share and 50% in a hypothetical, perfectly tied election. For example, if a party would win 55% of a plan&rsquo;s districts if it received 50% of the statewide vote, then the plan would have a bias of 5% in this party&rsquo;s favor. To calculate partisan bias, the observed vote share in each district is shifted by the amount necessary to simulate a tied statewide election. Each party&rsquo;s seat share in this hypothetical election is then determined. The difference between each party&rsquo;s seat share and 50% is partisan bias.</p>
        <p>For more about partisan bias, see Bernard Grofman and Gary King’s 2007 Election Law Journal article, <a href="https://gking.harvard.edu/files/jp.pdf"><i>The Future of Partisan Symmetry as a Judicial Test for Partisan Gerrymandering After LULAC v. Perry</i></a>.</p>
        <p>Compare partisan bias to two other metrics, the <a href="{{ url_for('get_efficiencygap_page') }}">efficiency gap</a> and the <a href="{{ url_for('get_meanmedian_page') }}">mean-median difference</a>.</p>
    </div>
    
    <div class="col-sm-6">
        <h3><a href="https://planscore.org/maryland/#!2012-plan-ushouse-pb">Maryland 2012</a></h3>
        <p>
            Under <a href="https://planscore.org/maryland/#!2012-plan-ushouse-pb">Maryland’s 2012-2016 congressional plan</a>,
            Democrats would win 25% extra seats in a hypothetical, perfectly tied election.
        </p>
        <div class="metric-bellchart" id="maryland-pb">
            <div class="curve"><div class="marklabel">MD</div><div class="markline"></div></div>
            <div class="row metric-bellchart-legend">
                <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                <div class="col-xs-4 center">Balanced</div>
                <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
            </div>
        </div>
        <script>
            drawBiasBellChart('pb', 0.25, 'maryland-pb', 'ushouse', 'plan');
        </script>

        <h3><a href="https://planscore.org/alabama/#!2016-plan-ushouse-pb">Alabama 2012</a></h3>
        <p>
            Under <a href="https://planscore.org/alabama/#!2016-plan-ushouse-pb">Alabama’s 2012-2016 congressional plan</a>,
            Republicans would win 27% extra seats in a hypothetical, perfectly tied election.
        </p>
        <div class="metric-bellchart" id="alabama-pb">
            <div class="curve"><div class="marklabel">AL</div><div class="markline"></div></div>
            <div class="row metric-bellchart-legend">
                <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                <div class="col-xs-4 center">Balanced</div>
                <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
            </div>
        </div>
        <script>
            drawBiasBellChart('pb', -0.27, 'alabama-pb', 'ushouse', 'plan');
        </script>
        
    </div>

{% endblock %}
