{% extends "layout-text.html" %}
{% block title %}Our Plan{% endblock %}
{% block content %}

<h2>
    Our Plan
</h2>
<p>
    We are legal, political science, and mapping technology experts tackling the challenge of making redistricting fair and easy to understand. With the help of code and data from election experts around the country, we are building a service to score and publish district plans for all 50 states on an easy-to-use website. [link to some sample NC plans here]
</p>
<p>
    To assist legislative staff when creating new plans, any geographic file uploaded by site visitors can be checked for its partisan, demographic, racial, and geometric features and optionally have its results shared publicly.
</p>
<p>
    To help voters and journalists understand the the characteristics of new plans, the comprehensive results for any plan proposed by a legislative majority can be referenced, shared, and linked in articles or social media.
</p>
<p>
    To provide historical context for the partisan asymmetries of today’s plans, enacted maps all the way back to the 1970s will be scored and made available to site visitors.
</p>
<p>
    PlanScore will be a trusted, non-partisan resource for the redistricting efforts to come in the 2020 cycle.
</p>

{% endblock %}
