{% extends "layout.html" %}
{% block title %}Plan{% endblock %}
{% block head %}
	<script src="{{ url_for('static', filename='plan.js') }}"></script>
{% endblock %}
{% block content %}
    <table id="districts">
        <tr>
            <th>District</th>
            <th>Voters</th>
        </tr>
        <!-- this sample row will be removed, cloned, and replaced -->
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
	<script language="javascript">
	    var plan_id = location.search.replace('?', ''),
	        plan_url = get_plan_url('{{ data_url_pattern }}', plan_id);

	    load_plan_score(plan_url, document.getElementById('districts'));
	</script>
{% endblock %}
