{% extends "patternlibrary.html" %}
{% block title %}Plan{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{ digested_static_url('plan.css') }}" />
    <script src="{{ digested_static_url('plan.js') }}"></script>

    <!-- Highcharts does charts and also maps -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <style lang="text/css">

        div.planscore-partylegend div.planscore-partylegend-swatch-lean-democrat
        {
            background-image: url({{ url_for('static', filename='lean-blue-pattern.png') }});
        }

        div.planscore-partylegend div.planscore-partylegend-swatch-lean-republican
        {
            background-image: url({{ url_for('static', filename='lean-red-pattern.png') }});
        }

        div.planscore-partylegend div.planscore-partylegend-swatch-both
        {
            background-image: url({{ url_for('static', filename='unknown-pattern.png') }});
        }

    </style>
{% endblock %}
{% block content %}
    <section id="message">
        <p>Loading district plan</p>
    </section>
    <section id="plan-score">
    <div id="plan-description">
      <h1>(Loading)</h1>
      <hr class="no-margin-bottom"/>
    </div>
    <p style="display:none">
        This plan has <span id="plan-seat-count">N seats</span>.
        Fairness metrics for plans with fewer than seven seats should be interpreted with great caution.
    </p>
    <p>
        PlanScore bases its scores on predicted precinct-level votes for each
        office (State House, State Senate, and U.S. House) built from past
        election results and U.S. Census data.
        <a id="plan-model-link" href="{{ url_for('get_models') }}">More
            information about the predictive model used to score this plan</a>.
    </p>

    {# these list items will be populated by load_plan_score() #}
    <h2>Charts and Graphs</h2>
    <hr />

    <ul class="row" id="scores-box">
        <li class="col-md-4" id="score-efficiency-gap">
            <h3>Efficiency Gap</h3>
            <div class="metric-bellchart" id="metric-bellchart-eg">
                <div class="curve"><div class="marklabel">This Plan</div><div class="markline"></div></div>
                <div class="row metric-bellchart-legend">
                    <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                    <div class="col-xs-4 center">Balanced</div>
                    <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
                </div>
            </div>
            <p>Not enough information to calculate this score.</p>
        </li>
        <li class="col-md-4">
            <h3>Sensitivity Testing</h3>
            <div id="score-sensitivity"></div>
            <p>
                Sensitivity testing shows us a plan’s expected efficiency gap given a range of possible vote swings. It lets us evaluate the durability of a plan’s skew.
            </p>
        </li>
        <li class="col-md-4" id="score-declination">
            <h3>Declination</h3>
            <div class="metric-bellchart" id="metric-bellchart-d2">
                <div class="curve"><div class="marklabel">This Plan</div><div class="markline"></div></div>
                <div class="row metric-bellchart-legend">
                    <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span> D</div>
                    <div class="col-xs-4 center">Balanced</div>
                    <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span> R</div>
                </div>
            </div>
            <p>Not enough information to calculate this score.</p>
        </li>
    </ul>
    <ul class="row" id="scores-box">
        <li class="col-md-2 col-md-push-2">
        </li>
        <li class="col-md-4" id="score-partisan-bias">
            <h3>Partisan Bias</h3>
            <div class="metric-bellchart" id="metric-bellchart-pb">
                <div class="curve"><div class="marklabel">This Plan</div><div class="markline"></div></div>
                <div class="row metric-bellchart-legend">
                    <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                    <div class="col-xs-4 center">Balanced</div>
                    <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
                </div>
            </div>
            <p>Not enough information to calculate this score.</p>
        </li>
        <li class="col-md-4" id="score-mean-median">
            <h3>Mean-Median Difference</h3>
            <div class="metric-bellchart" id="metric-bellchart-mm">
                <div class="curve"><div class="marklabel">This Plan</div><div class="markline"></div></div>
                <div class="row metric-bellchart-legend">
                    <div class="col-xs-4 left">+<span data-field="metric-bellchart-spread"></span>% D</div>
                    <div class="col-xs-4 center">Balanced</div>
                    <div class="col-xs-4 right">+<span data-field="metric-bellchart-spread"></span>% R</div>
                </div>
            </div>
            <p>Not enough information to calculate this score.</p>
        </li>
    </ul>
    <h2>District Map</h2>
    <hr />
    <p id="map"></p>
    <h2>District Data</h2>
    <hr />
    <div class="col-xs-12 col-sm-12  table-jehl table-districts">
        <table class="table table-hover" id="districts">
            {# this table will be populated by load_plan_score() #}
        </table>
    </div>
    <a href="#" id="text-link">Download raw data as tab-delimited text</a>.
    <div class="col-xs-12 col-sm-12 table-jehl table-metrics">
        <table class="table table-hover" id="metrics">
            {# this table will be populated by load_plan_score() #}
        </table>
    </div>
    <p><small>
        <sup>*</sup>
            Scenarios are part of
            <a id="plan-model-footnote" href="{{ url_for('get_models') }}">the predictive model used to score this plan</a>.
        <br>
        <sup>†</sup>
            50%+ chance of one or more party flips assuming the plan is
            used for one decade with five State House elections, five U.S.
            House elections, or three State Senate elections.
        <br>
        <sup>‡</sup>
            Enacted <a href="{{planscore_website_base}}/#!2020-ushouse">U.S. House</a>,
            <a href="{{planscore_website_base}}/#!2020-statehouse">State House</a>,
            and <a href="{{planscore_website_base}}/#!2020-statesenate">State Senate</a>
            plan metrics are featured in our
            <a href="{{planscore_website_base}}/about/historical-data/">historical dataset</a>.
    </small></p>

    <ul id="library-metadata">
    </ul>

    </section>
    <section>
      <h2>Explore plan resources.</h2>
      <hr class="no-margin-bottom"/>

      <div class="link-grid">
        <a href="{{ %authlink }}">Authoritative Link
          <img width=20 height=20 src="/images/external-link.svg" alt="authoritative link for this plan"/>
        </a>
        <a href="{{ %precedinglink }}">Preceding Enacted Plan
          <img  width=20 height=20 src="/images/arrow-right.svg" alt="link to the preceding enacted plan" />
        </a>
        <a href="{{ %shapelink }}">Shapefile
          <img width=20 height=20 src="/images/download.svg" alt="link to a shape file download"/>
        </a>
        <a href="{{ %geosonlink}}">preview.geojson
          <img  width=20 height=20 src="/images/download.svg" alt="link to a geojson download"/>
        </a>
      </div>
    </section>

    <!-- Remove this entire section if no notes were added -->
    <section>
      <h2>Notes</h2>
      <hr />
      <div class="notes">
        {{ %plan_notes }}
        <i>Notes will appear here, if they exist</i> <!--This is a flexible space for plan uploader notes, can we create a new field on upload for these notes? -->
      </div>
    </section>
    <!-- end notes section -->

    <nav class="content-footer">
      <a class="btn btn-primary" href="/library">Back to Plan Library</a>
      <a class="btn btn-primary" href="/library/{{ %state_name }}">View all {{ %state_name }} Redistricting Plans</a>
    </nav>

	<script language="javascript">
	    var LEAN_BLUE_PATTERN_URL = "{{ url_for('static', filename='lean-blue-pattern.png') }}",
	        LEAN_RED_PATTERN_URL = "{{ url_for('static', filename='lean-red-pattern.png') }}",
	        BLUEISH_PATTERN_URL = "{{ url_for('static', filename='blueish-pattern.png') }}",
	        REDDISH_PATTERN_URL = "{{ url_for('static', filename='reddish-pattern.png') }}",
	        UNKNOWN_PATTERN_URL = "{{ url_for('static', filename='unknown-pattern.png') }}";

	    var plan_id = location.search.replace('?', ''),
	        plan_url = format_url('{{ data_url_pattern }}', plan_id),
	        geom_prefix = '{{ geom_url_prefix }}';
	        text_url = format_url('{{ text_url_pattern }}', plan_id),
	        eg_metric_url = '{{planscore_website_base}}/metrics/efficiencygap/',
	        pb_metric_url = '{{planscore_website_base}}/metrics/partisanbias/',
	        mm_metric_url = '{{planscore_website_base}}/metrics/meanmedian/',
	        d2_metric_url = '{{planscore_website_base}}/metrics/declination/',
	        model_url_pattern = '{{ url_for("get_model_description", prefix="data/2020") }}';

	    start_load_plan_polling(
	        plan_url,
	        document.getElementById('message'),
	        document.getElementById('plan-score'),
	        document.getElementById('plan-description'),
	        document.getElementById('library-metadata'),
	        document.getElementById('plan-model-link'),
	        document.getElementById('plan-model-footnote'),
	        model_url_pattern,
	        document.getElementById('districts'),
	        document.getElementById('metrics'),
	        document.getElementById('score-efficiency-gap'),
	        document.getElementById('score-partisan-bias'),
	        document.getElementById('score-mean-median'),
	        document.getElementById('score-declination'),
	        document.getElementById('score-sensitivity'),
	        text_url,
	        document.getElementById('text-link'),
	        geom_prefix,
	        document.getElementById('map'),
	        document.getElementById('plan-seat-count')
        );
	</script>

	{% include 'olark-embed.html' %}

{% endblock %}
