{% extends "layout-text.html" %}
{% block title %}Hello{% endblock %}
{% block head %}

    <style lang="text/css">

        .bio
        {
            clear: left;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .bio .bio-photo
        {
            float: left;
            margin-bottom: 20px;
        }

        .bio .bio-photo img
        {
            width: 75px;
        }

        .bio .bio-text
        {
            margin-left: 95px;
        }

        .bio .bio-text h4,
        .bio .bio-text p
        {
            margin-top: 0;
            margin-bottom: .5rem;
        }
    
        @media (min-width: 840px)
        {
            .bio .bio-photo img
            {
                width: 150px;
            }

            .bio .bio-text
            {
                margin-left: 170px;
            }
        }

    </style>

{% endblock %}
{% block content %}

<h2>The Team</h2>
<p>
    Blah blah blah
</p>

  <div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/migurski.jpg') }}" alt="Photo of Michal Migurski">
    </div>
    <div class="bio-text">
        <h4><a href="https://www.linkedin.com/in/michalmigurski/">Michal Migurski</a></h4>
        <p>Executive Director</p>
        <p>Michal has been a leader in open source geospatial software and data in many organizations, as technical director of National Design Award-winning mapping and data visualization studio Stamen and Chief Technology Officer at government technology non-profit Code for America.</p>
    </div>
  </div>
  <div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/mcghee.jpg') }}" alt="Photo of Eric McGhee">
    </div>
    <div class="bio-text">
        <h4><a href="http://www.ppic.org/person/eric-mcghee/">Eric McGhee</a></h4>
        <p>Eric is a Research Fellow at the Public Policy Institute of California. Eric’s research focuses on elections, legislative behavior, political reform, and surveys and polling. Eric was previously an assistant professor of political science at the University of Oregon. Eric is the inventor of the efficiency gap.</p>
    </div>
  </div>
  <div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/jackman.jpg') }}" alt="Photo of Simon Jackman">
    </div>
    <div class="bio-text">
        <h4><a href="https://www.ussc.edu.au/people/simon-jackman">Simon Jackman</a></h4>
        <p>Simon is the Chief Executive Officer at the U.S. Studies Centre at the University of Sydney, Australia. Prior to that he was a professor of political science and statistics at Stanford University. His teaching and research centers on public opinion, election campaigns, political participation, and electoral systems. Simon has been the expert witness in two partisan gerrymandering cases (<i>Gill v. Whitford</i> and <i>LWVNC v. Rucho</i>).</p>
    </div>
  </div>
  <div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/stephanopoulos.jpg') }}" alt="Photo of Nicholas Stephanopoulos">
    </div>
    <div class="bio-text">
        <h4><a href="https://www.law.uchicago.edu/faculty/stephanopoulos">Nicholas Stephanopoulos</a></h4>
        <p>Nicholas is a Professor of Law at the University of Chicago Law School. His research and teaching interests include election law, constitutional law, legislation, administrative law, comparative law, and local government law. Nicholas co-authored the original law review article on the efficiency gap with Eric McGhee, and is co-counsel for the plaintiffs in two partisan gerrymandering cases (<i>Gill v. Whitford</i> and <i>LWVNC v. Rucho</i>).</p>
    </div>
  </div>
  <div class="bio">
    <div class="bio-photo">
        <img src="{{ url_for('static', filename='team/greenwood.jpg') }}" alt="Photo of Ruth Greenwood">
    </div>
    <div class="bio-text">
        <h4><a href="http://www.campaignlegalcenter.org/team/ruth-greenwood">Ruth Greenwood</a></h4>
        <p>Secretary / Treasurer</p>
        <p>Ruth is a Senior Legal Counsel at the Campaign Legal Center, where she litigates a variety of redistricting cases. Along with co-counsel, Ruth represents the plaintiffs in two partisan gerrymandering cases (<i>Gill v. Whitford</i> and <i>LWVNC v. Rucho</i>).</p>
    </div>
  </div>

<h2>End Partisan Gerrymandering</h2>
<p>
    The partisan gridlock we currently see in American politics has resulted in an inability to govern, record low voter turnout and a distrust in government soaring to all-time highs. Contributing to this environment of hyper-partisanship is the practice of partisan gerrymandering, which creates an unrepresentative and unfair democracy and encourages self-interested politics. Partisan gerrymandering undermines the power of voters, has gone on for far too long, and must end.
</p>
<p>
    In a democracy, we think that voters can choose their representatives through elections. But, when those representatives get to choose their own districts, we can end up with legislators choosing their voters instead.
</p>
<p>
    At PlanScore, we are creating a neutral and objective scoring service for new legislative district plans. Court challenges in North Carolina, Wisconsin, and other states are pushing state legislatures to look beyond simple measures toward effective new standards for symmetry. The same new mapping technologies making it easy for political parties to produce one-sided plans can also help watchdogs ensure plans are fair. The U.S. Constitution requires states to redraw their congressional and state legislative district lines in 2020. Legislative staff, journalists, and voters will need a trusted way to judge the effectiveness of these plans during this critical time.
</p>
<h2>
    Our Plan
</h2>
<p>
    We are legal, political science, and mapping technology experts tackling the challenge of making redistricting fair and easy to understand. With the help of code and data from election experts around the country, we are building a service to score and publish district plans for all 50 states on an easy-to-use website. [link to some sample NC plans here]
</p>
<p>
    To assist legislative staff when creating new plans, any geographic file uploaded by site visitors can be checked for its partisan, demographic, racial, and geometric features and optionally have its score shared publicly.
</p>
<p>
    To help voters and journalists understand the the characteristics of new plans, the comprehensive score of any district plan published by a legislative majority can be referenced, shared, and linked in articles or social media.
</p>
<p>
    To provide historical context for partisan bias in today’s legislative districts, enacted state plans all the way back to the 1970s will be scored and made available to site visitors.
</p>
<p>
    PlanScore will be a trusted, non-partisan resource for the redistricting efforts to come in 2018-2021.
</p>

{% endblock %}
