{% extends "patternlibrary.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="240; url={{ url_for('get_upload') }}">
	<script src="{{ digested_static_url('upload.js') }}"></script>
    <style lang="text/css">
    
        form#upload label,
        form#upload input
        {
            font-size: 100%;
            padding: 1.5rem 3rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    
        /**
         * Hide the file input itself, and use a label for primary interaction
         * https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
         */
        input#file
        {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        
        label[for='file']
        {
            cursor: pointer;
        }

    </style>
{% endblock %}
{% block content %}
    <section class="row">
        <div class="col-md-6">
            <p>
                Try our scoring service for new district plans. Upload a map to
                instantly receive projected data about its partisan
                consequences. Previously, this sort of analysis was available
                only to the parties’ line-drawers.
            </p>
            <p>
                Our first three supported states are <strong>Pennsylvania</strong>,
                <strong>Virginia</strong> (House of Delegates),
                and <strong>Maryland</strong>. We are building models for
                other states like Wisconsin and North&nbsp;Carolina.
                For an example analysis of results see
                <a href="https://electionlawblog.org/?p=101546">this recent breakdown
                of 2018 proposed plans for Virginia by Nicholas Stephanopoulos</a>.
            </p>
            <p>
                Here are three score pages for current plans:
            </p>
            <ul>
                <li>
                    <a href="https://planscore.org/plan.html?20180219T202039.596761160Z">Pennsylvania Supreme Court Remedial Map (Feb 19, 2018)</a>
                </li>
                <li>
                    <a href="https://planscore.org/plan.html?PA-Joint-Submission-2018-02-JP">Proposed Pennsylvania congressional plan, Joint Submission dated February 9, 2018</a>
                </li>
                <li>
                    <a href="https://planscore.org/plan.html?enacted-PA5-ushouse-JP">Enacted Pennsylvania 2012-2016 congressional plan</a>
                </li>
            </ul>
        </div>
        <form class="col-md-6" id="upload" action="#" method="post" enctype="multipart/form-data">
            <input type="hidden" name="key">
            <input type="hidden" name="AWSAccessKeyId">
            <input type="hidden" name="policy">
            <input type="hidden" name="signature">
            <input type="hidden" name="success_action_redirect">
            <input type="hidden" name="acl">
            <input type="hidden" name="x-amz-security-token">
            <p>
                Upload a district plan as a geospatial file containing Polygon
                or MultiPolygon shapes. Processing time depends on the
                complexity of the district plan, and may take a few seconds or
                many minutes.
            </p>
            <p>
                <input type="file" name="file" id="file">
                <label for="file" class="btn btn-default">Choose A File</label>
                <input type="submit" name="submission" value="Score This Plan" class="btn btn-primary" disabled>
            </p>
            <p>
                These file types are currently supported:
            </p>
            <ul>
                <li>
                    <a href="https://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm">Shapefile</a>
                    (upload as a <a href="https://en.wikipedia.org/wiki/Zip_(file_format)">single .zip file</a>)
                </li>
                <li><a href="http://geojson.org">GeoJSON</a></li>
                <li><a href="http://www.geopackage.org">Geopackage</a></li>
            </ul>
        </form>
    </section>
	<script language="javascript">
	
	    var upload_form = document.getElementById('upload'),
	        file_input = document.getElementById('file'),
	        file_label = file_input.nextElementSibling;
	    
	    enable_form('{{upload_fields_url}}', upload_form);
	    
	    file_input.addEventListener('change', function(e)
	    {
	        if(this.files.length) {
	            file_label.innerText = this.files[0].name;
	        
	        } else {
	            file_label.innerText = 'Choose A File';
	        }
	    });
	    
	</script>

	{% include 'olark-embed.html' %}

{% endblock %}
