{% extends "patternlibrary.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="240; url={{ url_for('get_upload') }}">
	<script src="{{ digested_static_url('upload.js') }}"></script>
    <style lang="text/css">
    
        form#upload label,
        form#upload input
        {
            font-size: 100%;
            padding: 1.5rem 3rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        /**
         * Hide the file input itself, and use a label for primary interaction
         * https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
         */
        input#file
        {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        
        label[for='file']
        {
            cursor: pointer;
        }

    </style>
{% endblock %}
{% block content %}
    <section class="row">
        <div class="col-md-6">
            <p>
                Try our scoring service for new district plans. Upload a map to
                instantly receive projected data about its partisan
                consequences. Previously, this sort of analysis was available
                only to the parties’ line-drawers.
            </p>
            <p>
                Learn more <a href="{{ url_for('get_model_description', prefix='data/2021B') }}">about our methodology and its validation here.</a>
            </p>
            <div>
                <p style="margin: 2em 0 0">
                    <img src="{{ digested_static_url('supported-states.svg') }}" alt="AK, AL, AR, AZ, CA, CO, CT, DE, FL, GA, HI, IA, ID, IL, IN, KS, KY, LA, MA, MD, ME, MI, MN, MO, MT, NC, ND, NE, NH, NJ, NM, NV, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WY">
                </p>
            
                <p style="font-size: 14px; color: #777; line-height: 1.5;">
                    Our current supported states are
                    <strong>Alabama</strong>,
                    <strong>Alaska</strong>,
                    <strong>Arizona</strong>,
                    <strong>Arkansas</strong>,
                    <strong>California</strong>,
                    <strong>Colorado</strong>,
                    <strong>Connecticut</strong>,
                    <strong>Delaware</strong>,
                    <strong>Florida</strong>,
                    <strong>Georgia</strong>,
                    <strong>Hawaii</strong>,
                    <strong>Illinois</strong>,
                    <strong>Indiana</strong>,
                    <strong>Idaho</strong>,
                    <strong>Iowa</strong>,
                    <strong>Kansas</strong>,
                    <strong>Kentucky</strong>,
                    <strong>Louisiana</strong>,
                    <strong>Maine</strong>,
                    <strong>Maryland</strong>,
                    <strong>Massachusetts</strong>,
                    <strong>Michigan</strong>,
                    <strong>Minnesota</strong>,
                    <strong>Missouri</strong>,
                    <strong>Montana</strong>,
                    <strong>Nebraska</strong>,
                    <strong>Nevada</strong>,
                    <strong>New&nbsp;Hampshire</strong>,
                    <strong>New&nbsp;Jersey</strong>,
                    <strong>New&nbsp;Mexico</strong>,
                    <strong>North&nbsp;Carolina</strong>,
                    <strong>North&nbsp;Dakota</strong>,
                    <strong>Ohio</strong>,
                    <strong>Oklahoma</strong>,
                    <strong>Oregon</strong>,
                    <strong>Pennsylvania</strong>,
                    <strong>Rhode&nbsp;Island</strong>,
                    <strong>South&nbsp;Carolina</strong>,
                    <strong>South&nbsp;Dakota</strong>,
                    <strong>Tennessee</strong>,
                    <strong>Texas</strong>,
                    <strong>Utah</strong>,
                    <strong>Vermont</strong>,
                    <strong>Virginia</strong>,
                    <strong>Washington</strong>,
                    <strong>Wisconsin</strong>,
                    and <strong>Wyoming</strong>.
                </p>
            </div>
        
        </div>
        <div class="col-md-6">
            <!-- action is set in upload.js -->
            <form id="upload" action="#" method="post" enctype="multipart/form-data">
                <input type="hidden" name="key">
                <input type="hidden" name="AWSAccessKeyId">
                <input type="hidden" name="policy">
                <input type="hidden" name="signature">
                <input type="hidden" name="success_action_redirect">
                <input type="hidden" name="acl">
                <input type="hidden" name="x-amz-security-token">
                <p style="margin-bottom: 9px;">
                    Upload a district plan as a geospatial file containing Polygon
                    or MultiPolygon shapes. These file types are currently supported:
                </p>
                <ul>
                    <li>
                        <a href="https://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm">Shapefile</a>
                        (upload as a <a href="https://en.wikipedia.org/wiki/Zip_(file_format)">single .zip file</a>)
                    </li>
                    <li><a href="http://geojson.org">GeoJSON</a></li>
                    <li><a href="http://www.geopackage.org">Geopackage</a></li>
                </ul>
                <p style="margin-bottom: 9px;">
                    2020 block assignment files (BAFs) in delimited text
                    or CSV format are <i>experimentally</i> supported.
                </p>
                <p>
                    <input type="file" name="file" id="file">
                    <label for="file" class="btn btn-primary">Select a file to upload</label>
                </p>
            </form>
            <p>Processing time depends on the
                complexity of the district plan, and may take a few seconds or
                many minutes.
            </p>
            
            
        </div>
    </section>
	<script>
	
	    var upload_form = document.getElementById('upload'),
	        file_input = document.getElementById('file'),
	        file_label = file_input.nextElementSibling,
            select_a_file_text = file_label.textContent;


        // Use an AbortController to make an abortable fetch that can give up if its not done in time. https://github.com/PlanScore/PlanScore/pull/379
        const controller = new AbortController();

        // For local dev, prefix the upload_fields_url with https://api.planscore.org/
        const fetch_tokens_promise = fetch_upload_tokens('{{upload_fields_url}}', upload_form, controller.signal);

        fetch_tokens_promise.catch(err => 
        {
            file_label.textContent = 'API Server connection failure!';
            if (err.name === 'AbortError') {
                alert(`Didn't connect to PlanScore API server in time. Reload and try again?`);
            } else {
                console.error('Fetch failure', err);
            }
        });

	    file_input.addEventListener('change', function(e)
	    {
            if(!this.files.length) {
                file_label.textContent = select_a_file_text;
                return;
            }

            console.log('File selected');
            file_label.textContent = `Awaiting server connection…`;

            // After file selection, give 7 more seconds grace time for fetch_tokens before giving up
            setTimeout(() => {
                controller.abort();
            }, 7 * 1000);

            fetch_tokens_promise.then(() => {
                console.log('File selected AND upload tokens fetched. Starting submit');
                file_label.textContent = `Uploading ${this.files[0].name} …`;
                upload_form.submit();
            });
	    });
	</script>

	{% include 'olark-embed.html' %}

{% endblock %}
