{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
	<script src="{{ digested_static_url('upload.js') }}"></script>
{% endblock %}
{% block content %}
    <form action="#" method="post" enctype="multipart/form-data">
        <p>
            Upload a GeoJSON or Geopackage file. While PlanScore is under
            construction, only district plans for Null Island will work.
        </p>
        <input type="hidden" name="key">
        <input type="hidden" name="AWSAccessKeyId">
        <input type="hidden" name="policy">
        <input type="hidden" name="signature">
        <input type="hidden" name="success_action_redirect">
        <input type="hidden" name="acl">
        <input type="hidden" name="x-amz-security-token">
        <p>
            <input type="file" name="file">
            <input type="submit" name="submission" value="Upload" disabled>
        </p>
    </form>
	<script language="javascript">
	    enable_form('{{upload_fields_url}}', document.forms[0]);
	</script>
{% endblock %}
