{% extends "patternlibrary.html" %}
{% block title %}About{% endblock %}
{% block head %}
<style lang="text/css">

    /* Adapted from https://stackoverflow.com/questions/20888375/properly-embedding-youtube-video-into-bootstrap-3-0-page */
    .embed-responsive
    {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    .embed-responsive .embed-responsive-item,
    .embed-responsive iframe,
    .embed-responsive embed,
    .embed-responsive object,
    .embed-responsive video
    {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }

    .embed-responsive-16by9 { padding-bottom: 62.25% }
    .embed-responsive-4by3 { padding-bottom: 75% }
    .embed-responsive-16by10 { padding-bottom: 62.5% }

</style>
{% endblock %}
{% block content %}

    <h1>March 23 Webinar</h1>
    
    <p>
    On Friday, March 23, attorney <b>Ruth Greenwood</b> and PlanScore Executive Director
    <b>Michal Migurski</b> demonstrated how to use PlanScore in the context of current
    developments around gerrymandering. Ruth is Senior Legal Counsel at the
    Campaign Legal Center and co-counsel in <i>Gill v. Whitford</i>. Michal is a
    geospatial code and data expert who recently served as chief technology officer
    of Code for America.
    </p>

    <div class="embed-responsive embed-responsive-16by10" >
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3AgtYzc1E5w?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

{% endblock %}
