@import 'sitewide';

h1.state_name {
    margin-top: 0;

    font-size: 26px;

    padding: 5px;

    background-color: #cccccc;
    color: white;
}

#boundarypicker {
    /* small-enough screens, force these to 100% as they will linewrap before Bootstrap will "xs" them to stack */
    @media screen and (max-width: 550px) {
        > div {
          width: 100%;
        }

        > div {  /* when stacked, give them a tiny bit of bottom margin so they do't blur together */
            margin-bottom: 10px;
        }
    }

    div[data-boundary] {
        cursor: pointer;

        a {
            text-decoration: none !important;
            color: #95989A;
        }

        background-color: #F2F2F2;

        padding-bottom: 15px;
        padding-top: 15px;

        font-size: 18px;
        border-radius: 2px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .16);
    }
    div[data-boundary].active {
        background-color: #4D599E;
        color: white;
        a {
            color: white;
        }
    }
    div[data-boundary="ushouse"] {
    }
    div[data-boundary="statesenate"] {
    }
    div[data-boundary="statehouse"] {
    }

    div[data-boundary="statesenate"], div[data-boundary="statesenate"] a { /* issue 112 temporarily disabled */
        opacity: 0.7; cursor: not-allowed;
    }
}


#yearpicker-small {
    padding: 5px;
    border-radius: 5px;
}

#yearpicker-small-wrapper {
    display: block;
    margin-bottom: 15px;
}

#yearpicker-big {
    div.year {
        cursor: pointer;

        padding-left: 25px;

        a.yeardot { /* the little circle indicating the election year */
            display: inline-block;
            height: 10px;
            width: 10px;
            border: 2px solid black;
            border-radius: 50%;

            margin-right: 5px;
        }

        a.plan {  /* the dot and dash icon indicating the start/continuation of a plan; nothing visible but see the plan-begin and plan-continue subclasses */
            display: inline-block;
            height: 26px;
            width: 26px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    div.year:hover {
        background-color: #f2f2f2;
    }

    div.year.active {
        background-color: silver;
        color: black;

        a.yeardot { /* the little circle indicating the election year */
            background-color: black;
        }
    }

    div.year.plan-begin a.plan {
        background-image: url(../images/statsplan-timeline-begin.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 26px 26px;  /* contrived to fit font size + padding-top + padding-bottom */
    }
    div.year.plan-continue a.plan {
        background-image: url(../images/statsplan-timeline-continue.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 26px 26px;  /* contrived to fit font size + padding-top + padding-bottom */
    }
}

ul.nav-tabs a span.biasicon {
    display: inline-block;
    height: 18px;
    width: 18px;

    text-align: center;
    font-size: 15px;

    background-color: transparent; /* unless assigned a specific bias class below, they're effectively invisible */
    color: white;
}

@media screen and (max-width: 550px) {
    ul.nav-tabs a span.biasicon {
        display: block;
        margin: 0 auto;
    }
}

div.tab-content {
    div.metricdrsum {
        float: left;
        font-size: 18px;
        padding: 5px 5px 5px 5px;
        color: white;

        margin-right: 1em;
    }
    div.metricdrblurb {
        float: left;
        padding-top: 0.5em;
    }

    h2 {
        font-size: 18px;
        margin-top: 0;
    }

    .tab-pane p {
        font-size: 13px;
    }
}

#chart-egvoteswasted {
    height: 150px;
    width: 100%;
}

div.metric-bellchart {
    /* the bellcharts indicating the plan's percentile rating, are a bit of a trick: a single-bar column chart, and a stretching background of a bell curve for visual reference */
    width: 250px;
    height: 150px;
    background-image: none;  /* overridden in subclasses */
    background-repeat: no-repeat;
    background-size: 100% 100%;  /* stretch the graphic to fill the area 100% */
    background-position: 0 0;

    position: relative; /* for positioning the markline */
    div.markline {
        position: absolute;
        left: 50%;
        top: 30px;
        height: 100px;

        width: 2px;
        margin-left: -1px;  /* half of width, so it centers at the given left % */
        background-color: black;
    }
}
div.metric-bellchart.ushouse.eg {
    background-image: url(/images/ushouse_eg_plan_curve.svg);
}
div.metric-bellchart.ushouse.mm {
    background-image: url(/images/ushouse_mmd_plan_curve.svg);
}
div.metric-bellchart.ushouse.pb {
    background-image: url(/images/ushouse_bias_plan_curve.svg);
}
div.metric-bellchart.statehouse.eg {
    background-image: url(/images/statehouse_eg_plan_curve.svg);
}
div.metric-bellchart.statehouse.mm {
    background-image: url(/images/statehouse_mmd_plan_curve.svg);
}
div.metric-bellchart.statehouse.pb {
    background-image: url(/images/statehouse_bias_plan_curve.svg);
}
div.metric-bellchart.statesenate.eg {
    background-image: url(/images/statesenate_eg_plan_curve.svg);
}
div.metric-bellchart.statesenate.mm {
    background-image: url(/images/statesenate_mmd_plan_curve.svg);
}
div.metric-bellchart.statesenate.pb {
    background-image: url(/images/statesenate_bias_plan_curve.svg);
}
